div {
    background-color: lightgray; 
    margin: 1px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}


*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #000000;  
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    
    margin: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	padding: 20px 10px 20px 10px;
	margin: 1%;
	background-color: rgb(206, 215, 212);
	border-radius: 10px;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

.titulos {
	width: 75%;
	position: absolute;
	top: 120px;
	left: 50%;
	align-content: center;
	align-items: center;
}

/* Main */
.container-items {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	position: absolute;
	top: 160px;
	left: 20%;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
        font-size: 15px
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
        border-radius: 5px;
	background: none;
	background-color: #423f3f;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.info-product button:hover{
  background-color: #3d3a3a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-all {
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
        border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
        font-size: 16px;
        transition: all .3s ease;
}

.btn-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}

.btn-producto {
        border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
        border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
        font-size: 16px;
        transition: all .3s ease;
}

.btn-producto:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}

.side-bar {
	width: 15%;
        max-width: 200px;
	background-color: rgb(206, 215, 212);
	position: absolute;
	top: 120px;
	left: 1%;
	padding:10px;
	border-radius: 10px;
}

.side-bar-list{
	border-radius: 10;
	color: darkblue;
}